body {
    font-family: 'Poppins' , sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #fafafa;
}
p {
    color: #777;
    font-size: 15px;
}
h1,
h3 {
    color: #404150;
}
h3 {
    flex: 1;
}
img {
    width: 80px;
    margin-top: 50px;
}
.text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 50px;
    width: 602px;
}
.text p {
    margin-top: 10px;
}
.text .special {
    font-weight: 200;
}
.features {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    margin-top: 200px;
}
.features .box {
    margin: 15px 15px;
    width: 370px;
    height: 250px;
    padding: 25px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 6px;
    box-shadow: 0 10px 9px #d8dfe7;
}
.features .super {
    border-top: #56c1c2 solid 5px;
}
.features .col .team {
    border-top: solid 5px #a94042;
}
.features .col .karma {
    border-top: solid 5px #e8a946;
}
.features .calc {
    border-top: solid 5px #4f93cc;
}
@media (max-width: 767px) {
    .features {
        flex-direction: column;
        margin-top: 360px;
        padding-left: 25px;
        padding-right: 0;
    }
    .text {
        padding-left: 25px;
        padding-right: 0;
    }
    .text p {
        width: 317px;
        margin-left: 125px;
    }
}